In [ ]:
import sqlite3

In [ ]:
mydb=sqlite3.connect("salt.db")
c=mydb.cursor()
c.execute("create table info(name text,addr text,phn integer)")
mydb.commit()
print("Table created.....")

In [ ]:
c.execute("insert into info values(?,?,?)",("tridib","durgapur",8617378757))
mydb.commit()
print("Record inserted.....")

In [ ]:
name=input("Enter name:")
Addr=input("Enter the address :")
Phn=int(input("Enter the phoneno :"))
c.execute("insert into info values(?,?,?)",(name,Addr,Phn))
mydb.commit()
print(" Another Record inserted.....")

In [ ]:
list1=[
    ('Amir','Mumbai',865645692),
    ('Salman','Mumbai',810267564)
]
c.executemany("insert into info values(?,?,?)",list1)
mydb.commit()
print(" Another Record inserted.....")

In [2]:
c.execute("select * from info")
res=c.fetchall()
for i in res:
    print(i)

('tridib', 'durgapur', 8617378757)
('Ram', 'Kolkata', 7478552684)
('Salman', 'Mumbai', 810267564)

In [ ]:
import sqlite3
mydb=sqlite3.connect("salt.db")
c=mydb.cursor()

name=input("Enter name: ")
c.execute("select * from info where name=?",(name,))
res=c.fetchall()
if(res):
    print("Hello",res[0][0])
else:
    print("Record not found")

In [1]:
import sqlite3
mydb=sqlite3.connect("salt.db")
c=mydb.cursor()
name=input("Enter name to delete record")
c.execute("delete from info where name=?",(name,))
mydb.commit()
print("record deleted....")

Enter name to delete recordAmir
record deleted....

In [8]:
import sqlite3
mydb=sqlite3.connect("salt.db")
c=mydb.cursor()
name=input("please enter name :")
Addr=input("enter new Adress :")
name=input("Enter new Phone number:")

c.execute("update info set Addr=?,phn=? where name=?",(Addr,Phn,name))
mydb.commit()
print("record updated")

please enter name :Ram
enter new Adress :Delhi
Enter new Phone number:56263231

NameError: name 'Phn' is not defined