In [1]:
from sklearn.linear_model import LinearRegression
import pandas as pd
from sklearn.model_selection import train_test_split
import numpy as np

In [2]:
house=pd.read_csv("E:/datasets/Housing.csv")

In [3]:
house

,Unnamed: 0,price,lotsize,bedrooms,bathrms,stories,driveway,recroom,fullbase,gashw,airco,garagepl,prefarea
0,1,42000.0,5850,3,1,2,yes,no,yes,no,no,1,no
1,2,38500.0,4000,2,1,1,yes,no,no,no,no,0,no
2,3,49500.0,3060,3,1,1,yes,no,no,no,no,0,no
3,4,60500.0,6650,3,1,2,yes,yes,no,no,no,0,no
4,5,61000.0,6360,2,1,1,yes,no,no,no,no,0,no
5,6,66000.0,4160,3,1,1,yes,yes,yes,no,yes,0,no
6,7,66000.0,3880,3,2,2,yes,no,yes,no,no,2,no
7,8,69000.0,4160,3,1,3,yes,no,no,no,no,0,no
8,9,83800.0,4800,3,1,1,yes,yes,yes,no,no,0,no
9,10,88500.0,5500,3,2,4,yes,yes,no,no,yes,1,no
10,11,90000.0,7200,3,2,1,yes,no,yes,no,yes,3,no
11,12,30500.0,3000,2,1,1,no,no,no,no,no,0,no
12,13,27000.0,1700,3,1,2,yes,no,no,no,no,0,no
13,14,36000.0,2880,3,1,1,no,no,no,no,no,0,no
14,15,37000.0,3600,2,1,1,yes,no,no,no,no,0,no
15,16,37900.0,3185,2,1,1,yes,no,no,no,yes,0,no
16,17,40500.0,3300,3,1,2,no,no,no,no,no,1,no
17,18,40750.0,5200,4,1,3,yes,no,no,no,no,0,no
18,19,45000.0,3450,1,1,1,yes,no,no,no,no,0,no
19,20,45000.0,3986,2,2,1,no,yes,yes,no,no,1,no
20,21,48500.0,4785,3,1,2,yes,yes,yes,no,yes,1,no
21,22,65900.0,4510,4,2,2,yes,no,yes,no,no,0,no
22,23,37900.0,4000,3,1,2,yes,no,no,no,yes,0,no
23,24,38000.0,3934,2,1,1,yes,no,no,no,no,0,no
24,25,42000.0,4960,2,1,1,yes,no,no,no,no,0,no
25,26,42300.0,3000,2,1,2,yes,no,no,no,no,0,no
26,27,43500.0,3800,2,1,1,yes,no,no,no,no,0,no
27,28,44000.0,4960,2,1,1,yes,no,yes,no,yes,0,no
28,29,44500.0,3000,3,1,1,no,no,no,no,yes,0,no
29,30,44900.0,4500,3,1,2,yes,no,no,no,yes,0,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...
516,517,95000.0,6000,3,2,3,yes,yes,no,no,yes,0,no
517,518,96500.0,6000,4,2,4,yes,no,no,no,yes,0,no
518,519,101000.0,6240,4,2,2,yes,no,no,no,yes,1,no
519,520,102000.0,6000,3,2,2,yes,yes,no,no,no,1,no
520,521,103000.0,7680,4,2,4,yes,yes,no,no,yes,1,no
521,522,105000.0,6000,4,2,4,yes,yes,no,no,yes,1,no
522,523,108000.0,6000,4,2,4,yes,no,no,no,yes,1,no
523,524,110000.0,6000,4,2,4,yes,no,no,no,no,2,no
524,525,113000.0,6000,4,2,4,yes,no,no,no,yes,1,no
525,526,120000.0,7475,3,2,4,yes,no,no,no,yes,2,no
526,527,105000.0,5150,3,2,4,yes,no,no,no,yes,2,no
527,528,106000.0,6325,3,1,4,yes,no,no,no,yes,1,no
528,529,107500.0,6000,3,2,4,yes,no,no,no,yes,1,no
529,530,108000.0,6000,3,2,3,yes,no,no,no,yes,0,no
530,531,113750.0,6000,3,1,4,yes,yes,no,no,yes,2,no
531,532,120000.0,7000,3,1,4,yes,no,no,no,yes,2,no
532,533,70000.0,12900,3,1,1,yes,no,no,no,no,2,no
533,534,71000.0,7686,3,1,1,yes,yes,yes,yes,no,0,no
534,535,82000.0,5000,3,1,3,yes,no,no,no,yes,0,no
535,536,82000.0,5800,3,2,4,yes,no,no,no,yes,0,no
536,537,82500.0,6000,3,2,4,yes,no,no,no,yes,0,no
537,538,83000.0,4800,3,1,3,yes,no,no,no,yes,0,no
538,539,84000.0,6500,3,2,3,yes,no,no,no,yes,0,no
539,540,85000.0,7320,4,2,2,yes,no,no,no,no,0,no
540,541,85000.0,6525,3,2,4,yes,no,no,no,no,1,no
541,542,91500.0,4800,3,2,4,yes,yes,no,no,yes,0,no
542,543,94000.0,6000,3,2,4,yes,no,no,no,yes,0,no
543,544,103000.0,6000,3,2,4,yes,yes,no,no,yes,1,no
544,545,105000.0,6000,3,2,2,yes,yes,no,no,yes,1,no
545,546,105000.0,6000,3,1,2,yes,no,no,no,yes,1,no

In [4]:
house.isnull().sum()

Unnamed: 0    0
price         0
lotsize       0
bedrooms      0
bathrms       0
stories       0
driveway      0
recroom       0
fullbase      0
gashw         0
airco         0
garagepl      0
prefarea      0
dtype: int64

In [5]:
house.head()

,Unnamed: 0,price,lotsize,bedrooms,bathrms,stories,driveway,recroom,fullbase,gashw,airco,garagepl,prefarea
0,1,42000.0,5850,3,1,2,yes,no,yes,no,no,1,no
1,2,38500.0,4000,2,1,1,yes,no,no,no,no,0,no
2,3,49500.0,3060,3,1,1,yes,no,no,no,no,0,no
3,4,60500.0,6650,3,1,2,yes,yes,no,no,no,0,no
4,5,61000.0,6360,2,1,1,yes,no,no,no,no,0,no

In [6]:
newclass=pd.get_dummies(house['driveway'])

In [7]:
newclass

     no  yes
0     0    1
1     0    1
2     0    1
3     0    1
4     0    1
5     0    1
6     0    1
7     0    1
8     0    1
9     0    1
10    0    1
11    1    0
12    0    1
13    1    0
14    0    1
15    0    1
16    1    0
17    0    1
18    0    1
19    1    0
20    0    1
21    0    1
22    0    1
23    0    1
24    0    1
25    0    1
26    0    1
27    0    1
28    1    0
29    0    1
..   ..  ...
516   0    1
517   0    1
518   0    1
519   0    1
520   0    1
521   0    1
522   0    1
523   0    1
524   0    1
525   0    1
526   0    1
527   0    1
528   0    1
529   0    1
530   0    1
531   0    1
532   0    1
533   0    1
534   0    1
535   0    1
536   0    1
537   0    1
538   0    1
539   0    1
540   0    1
541   0    1
542   0    1
543   0    1
544   0    1
545   0    1

[546 rows x 2 columns]

In [8]:
house.drop(['driveway'],axis=1,inplace=True)

In [9]:
house.head()

,Unnamed: 0,price,lotsize,bedrooms,bathrms,stories,recroom,fullbase,gashw,airco,garagepl,prefarea
0,1,42000.0,5850,3,1,2,no,yes,no,no,1,no
1,2,38500.0,4000,2,1,1,no,no,no,no,0,no
2,3,49500.0,3060,3,1,1,no,no,no,no,0,no
3,4,60500.0,6650,3,1,2,yes,no,no,no,0,no
4,5,61000.0,6360,2,1,1,no,no,no,no,0,no

In [10]:
house=pd.concat([house,newclass],axis=1)

In [11]:
house

,Unnamed: 0,price,lotsize,bedrooms,bathrms,stories,recroom,fullbase,gashw,airco,garagepl,prefarea,no,yes
0,1,42000.0,5850,3,1,2,no,yes,no,no,1,no,0,1
1,2,38500.0,4000,2,1,1,no,no,no,no,0,no,0,1
2,3,49500.0,3060,3,1,1,no,no,no,no,0,no,0,1
3,4,60500.0,6650,3,1,2,yes,no,no,no,0,no,0,1
4,5,61000.0,6360,2,1,1,no,no,no,no,0,no,0,1
5,6,66000.0,4160,3,1,1,yes,yes,no,yes,0,no,0,1
6,7,66000.0,3880,3,2,2,no,yes,no,no,2,no,0,1
7,8,69000.0,4160,3,1,3,no,no,no,no,0,no,0,1
8,9,83800.0,4800,3,1,1,yes,yes,no,no,0,no,0,1
9,10,88500.0,5500,3,2,4,yes,no,no,yes,1,no,0,1
10,11,90000.0,7200,3,2,1,no,yes,no,yes,3,no,0,1
11,12,30500.0,3000,2,1,1,no,no,no,no,0,no,1,0
12,13,27000.0,1700,3,1,2,no,no,no,no,0,no,0,1
13,14,36000.0,2880,3,1,1,no,no,no,no,0,no,1,0
14,15,37000.0,3600,2,1,1,no,no,no,no,0,no,0,1
15,16,37900.0,3185,2,1,1,no,no,no,yes,0,no,0,1
16,17,40500.0,3300,3,1,2,no,no,no,no,1,no,1,0
17,18,40750.0,5200,4,1,3,no,no,no,no,0,no,0,1
18,19,45000.0,3450,1,1,1,no,no,no,no,0,no,0,1
19,20,45000.0,3986,2,2,1,yes,yes,no,no,1,no,1,0
20,21,48500.0,4785,3,1,2,yes,yes,no,yes,1,no,0,1
21,22,65900.0,4510,4,2,2,no,yes,no,no,0,no,0,1
22,23,37900.0,4000,3,1,2,no,no,no,yes,0,no,0,1
23,24,38000.0,3934,2,1,1,no,no,no,no,0,no,0,1
24,25,42000.0,4960,2,1,1,no,no,no,no,0,no,0,1
25,26,42300.0,3000,2,1,2,no,no,no,no,0,no,0,1
26,27,43500.0,3800,2,1,1,no,no,no,no,0,no,0,1
27,28,44000.0,4960,2,1,1,no,yes,no,yes,0,no,0,1
28,29,44500.0,3000,3,1,1,no,no,no,yes,0,no,1,0
29,30,44900.0,4500,3,1,2,no,no,no,yes,0,no,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
516,517,95000.0,6000,3,2,3,yes,no,no,yes,0,no,0,1
517,518,96500.0,6000,4,2,4,no,no,no,yes,0,no,0,1
518,519,101000.0,6240,4,2,2,no,no,no,yes,1,no,0,1
519,520,102000.0,6000,3,2,2,yes,no,no,no,1,no,0,1
520,521,103000.0,7680,4,2,4,yes,no,no,yes,1,no,0,1
521,522,105000.0,6000,4,2,4,yes,no,no,yes,1,no,0,1
522,523,108000.0,6000,4,2,4,no,no,no,yes,1,no,0,1
523,524,110000.0,6000,4,2,4,no,no,no,no,2,no,0,1
524,525,113000.0,6000,4,2,4,no,no,no,yes,1,no,0,1
525,526,120000.0,7475,3,2,4,no,no,no,yes,2,no,0,1
526,527,105000.0,5150,3,2,4,no,no,no,yes,2,no,0,1
527,528,106000.0,6325,3,1,4,no,no,no,yes,1,no,0,1
528,529,107500.0,6000,3,2,4,no,no,no,yes,1,no,0,1
529,530,108000.0,6000,3,2,3,no,no,no,yes,0,no,0,1
530,531,113750.0,6000,3,1,4,yes,no,no,yes,2,no,0,1
531,532,120000.0,7000,3,1,4,no,no,no,yes,2,no,0,1
532,533,70000.0,12900,3,1,1,no,no,no,no,2,no,0,1
533,534,71000.0,7686,3,1,1,yes,yes,yes,no,0,no,0,1
534,535,82000.0,5000,3,1,3,no,no,no,yes,0,no,0,1
535,536,82000.0,5800,3,2,4,no,no,no,yes,0,no,0,1
536,537,82500.0,6000,3,2,4,no,no,no,yes,0,no,0,1
537,538,83000.0,4800,3,1,3,no,no,no,yes,0,no,0,1
538,539,84000.0,6500,3,2,3,no,no,no,yes,0,no,0,1
539,540,85000.0,7320,4,2,2,no,no,no,no,0,no,0,1
540,541,85000.0,6525,3,2,4,no,no,no,no,1,no,0,1
541,542,91500.0,4800,3,2,4,yes,no,no,yes,0,no,0,1
542,543,94000.0,6000,3,2,4,no,no,no,yes,0,no,0,1
543,544,103000.0,6000,3,2,4,yes,no,no,yes,1,no,0,1
544,545,105000.0,6000,3,2,2,yes,no,no,yes,1,no,0,1
545,546,105000.0,6000,3,1,2,no,no,no,yes,1,no,0,1

In [12]:
x=house.iloc[:,11]

In [13]:
x

0      no
1      no
2      no
3      no
4      no
5      no
6      no
7      no
8      no
9      no
10     no
11     no
12     no
13     no
14     no
15     no
16     no
17     no
18     no
19     no
20     no
21     no
22     no
23     no
24     no
25     no
26     no
27     no
28     no
29     no
       ..
516    no
517    no
518    no
519    no
520    no
521    no
522    no
523    no
524    no
525    no
526    no
527    no
528    no
529    no
530    no
531    no
532    no
533    no
534    no
535    no
536    no
537    no
538    no
539    no
540    no
541    no
542    no
543    no
544    no
545    no
Name: prefarea, Length: 546, dtype: object

In [14]:
from sklearn.preprocessing import LabelEncoder

In [15]:
lb=LabelEncoder()

In [16]:
x=lb.fit_transform(x)

In [17]:
x

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0])

In [18]:
x=pd.DataFrame(x)

In [19]:
x

     0
0    0
1    0
2    0
3    0
4    0
5    0
6    0
7    0
8    0
9    0
10   0
11   0
12   0
13   0
14   0
15   0
16   0
17   0
18   0
19   0
20   0
21   0
22   0
23   0
24   0
25   0
26   0
27   0
28   0
29   0
..  ..
516  0
517  0
518  0
519  0
520  0
521  0
522  0
523  0
524  0
525  0
526  0
527  0
528  0
529  0
530  0
531  0
532  0
533  0
534  0
535  0
536  0
537  0
538  0
539  0
540  0
541  0
542  0
543  0
544  0
545  0

[546 rows x 1 columns]

In [20]:
house.head()

,Unnamed: 0,price,lotsize,bedrooms,bathrms,stories,recroom,fullbase,gashw,airco,garagepl,prefarea,no,yes
0,1,42000.0,5850,3,1,2,no,yes,no,no,1,no,0,1
1,2,38500.0,4000,2,1,1,no,no,no,no,0,no,0,1
2,3,49500.0,3060,3,1,1,no,no,no,no,0,no,0,1
3,4,60500.0,6650,3,1,2,yes,no,no,no,0,no,0,1
4,5,61000.0,6360,2,1,1,no,no,no,no,0,no,0,1

In [21]:
house.drop(['prefarea'],axis=1,inplace=True)

In [22]:
house=pd.concat([house,x],axis=1)

In [23]:
house.head()

,Unnamed: 0,price,lotsize,bedrooms,bathrms,stories,recroom,fullbase,gashw,airco,garagepl,no,yes,0
0,1,42000.0,5850,3,1,2,no,yes,no,no,1,0,1,0
1,2,38500.0,4000,2,1,1,no,no,no,no,0,0,1,0
2,3,49500.0,3060,3,1,1,no,no,no,no,0,0,1,0
3,4,60500.0,6650,3,1,2,yes,no,no,no,0,0,1,0
4,5,61000.0,6360,2,1,1,no,no,no,no,0,0,1,0

In [24]:
house=house.rename(columns={0:'prefarea'})

In [25]:
house.head()

,Unnamed: 0,price,lotsize,bedrooms,bathrms,stories,recroom,fullbase,gashw,airco,garagepl,no,yes,prefarea
0,1,42000.0,5850,3,1,2,no,yes,no,no,1,0,1,0
1,2,38500.0,4000,2,1,1,no,no,no,no,0,0,1,0
2,3,49500.0,3060,3,1,1,no,no,no,no,0,0,1,0
3,4,60500.0,6650,3,1,2,yes,no,no,no,0,0,1,0
4,5,61000.0,6360,2,1,1,no,no,no,no,0,0,1,0

In [26]:
y=house.iloc[:,6]
z=house.iloc[:,7]
a=house.iloc[:,8]
b=house.iloc[:,9]

In [27]:
y=lb.fit_transform(y)
z=lb.fit_transform(z)
a=lb.fit_transform(a)
b=lb.fit_transform(b)

In [28]:
y

array([0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1,
       0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1,
       0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 1,
       1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1,
       0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1,
       1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0])

In [ ]:
z

In [ ]:
y=pd.DataFrame(y)
z=pd.DataFrame(z)
a=pd.DataFrame(a)
b=pd.DataFrame(b)

In [ ]:
house.drop(['recroom'],axis=1,inplace=True)
house.drop(['fullbase'],axis=1,inplace=True)
house.drop(['gashw'],axis=1,inplace=True)
house.drop(['airco'],axis=1,inplace=True)

In [ ]:
house=pd.concat([house,y],axis=1)
house=pd.concat([house,z],axis=1)
house=pd.concat([house,a],axis=1)
house=pd.concat([house,b],axis=1)

In [ ]:
house.head()

In [ ]:
house=house.rename(columns={0:'airco'})

In [ ]:
house