In [ ]:
import sqlite3

In [1]:
import sqlite3
mydb=sqlite3.connect("Sample1.db")
c=mydb.cursor()
c.execute("create table Marks(id integer,phy integer,chem integer,maths integer,avg integer,grade text)")
mydb.commit()
print("Marks table is created......")

OperationalError: table Marks already exists

In [2]:
list1=[
    (1,50,60,70,0,'na'),
    (2,60,70,80,0,'na'),
    (3,50,60,90,0,'na'),
    (4,50,60,74,0,'na'),
    
]
c.executemany("insert into Marks values(?,?,?,?,?,?)",list1)
mydb.commit()
print("Record inserted.....")

Record inserted.....

In [11]:
import sqlite3
mydb=sqlite3.connect("Sample1.db")
c=mydb.cursor()
choice=int(input("Enter your choice"))
if(choice==1):
    c.execute("select * from Marks")
    res=c.fetchall()
    for i in res:
        print(i)
elif(choice==2):
    i=input("enter the id")
    c.execute("select phy,chem,maths from Marks where id=?",(i,))
    res1=c.fetchall()
    a=res1[0][0]
    b=res1[0][1]
    c=res1[0][2]
    avg=((a+b+c)/300)*100
    print(avg)
    str1=1
    str2=2
    str3=3
    str4=4
    str5=5
    if(avg>=90):
        G=str1
        lst=[
            ((avg,G,i)),
        ]
        c.executemany("update Marks set avg=?,grade=? where id=?",lst)
        mydb.commit()
    elif(avg>=80 and avg<90):
        G=str1
        lst=[
            ((avg,G,i)),
        ]
        c.executemany("update Marks set avg=?,grade=? where id=?",lst)
        mydb.commit()
    elif(avg>=70 and avg<80):
        G=str3
        G=str1
        lst=[
            ((avg,G,i)),
        ]
        c.executemany("update Marks set avg=?,grade=? where id=?",lst)
        mydb.commit()
    elif(avg>=60 and avg<70):
        G=str4
        G=str1
        lst=[
            ((avg,G,i)),
        ]
        c.executemany("update Marks set avg=?,grade=? where id=?",lst)
        mydb.commit()
    elif(avg>=50 and avg<60):
        G=str5
        G=str1
        lst=[
            ((avg,G,i)),
        ]
        c.executemany("update Marks set avg=?,grade=? where id=?",lst)
        mydb.commit()
    #G1=str(G)
    #lst=[(avg,G1,i)]
    #c.execute("update Marks set avg=?,grade=? where id=?",(avg,G1,i))
   # c.executemany("update marks set avg=?,grade=? where id=?",lst)
    #mydb.commit()
    print("record updated")

Enter your choice2
enter the id1
60.0

AttributeError: 'int' object has no attribute 'executenamy'