In [ ]:
import sqlite3
mydb=sqlite3.connect("Sample2.db")
c=mydb.cursor()
c.execute("create table Student(id text,phy text,chem text,maths text,avg text,grade text)")
mydb.commit()
print("Student table is created......")

In [ ]:
phy=input("Physics:")
chem=input("Chemistry")
math=input("Maths :")
id=input("ID :")
list1=[
    (id,phy,chem,math,0,'na'),
]
c.executemany("insert into Student values(?,?,?,?,?,?)",list1)
mydb.commit()
print("Record inserted.....")

In [1]:
import sqlite3
id=input("Enter ID :")
mydb=sqlite3.connect("Sample2.db")
c=mydb.cursor()
c.execute('select * from student where id=?',(id,)
res=c.fetchall()
for i in res:
    id=res[0][0]
    total=int(res[0][1])+int(res[0][2])+int(res[0][3])
    print(total)
    avg=total//3
    print(avg)
    if(avg<30):
        grd='F'
    elif(avg>=30 and avg<=40):
        grd='D'
    elif(avg>40 and avg<50):
        grd='C'
    elif(avg>=50 and avg<60):
        grd='B'
    elif(avg>=60 and avg<=70):
        grd='A'
    else:
        grd='star'
    c.execute('update student set avg=?,grade=? where id=?',(avg,grd,id,))
    mydb.commit()
print("Updated")

SyntaxError: invalid syntax (<ipython-input-1-9cb485a9a354>, line 6)

In [2]:
import sqlite3
mydb=sqlite3.connect("Sample2.db")
c=mydb.cursor()
c.execute('select * from student')
res=c.fetchall()
for i in res:
    print(i)

('1', '50', '60', '70', '60', 'A')
('2', '70', '80', '90', '0', 'na')